<header>
    <div class="px-4 mx-auto max-w-7xl sm:px-6 bg-black-500">
        <div class="relative pt-6 pb-16 sm:pb-6">
            <nav class="relative flex items-center justify-between sm:h-10 md:justify-center" aria-label="Global">
                <div class="flex items-center flex-1 md:absolute md:inset-y-0 md:left-0">
                    <div class="flex items-center justify-between w-full md:w-auto">
                        <a href="" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                            <img src="https://i.pinimg.com/736x/ec/67/b2/ec67b2c81305b6a794ca57e9b282a008.jpg" class="h-8" alt="CinemaLogo" />
                            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">CineFilms</span>
                        </a>
                        <div class="flex items-center -mr-2 md:hidden">
                            <button class="inline-flex items-center justify-center p-2 text-gray-400 bg-gray-50 rounded-md hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-50"  type="button" aria-expanded="false">
                                <span class="sr-only">Open main menu</span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="hidden md:flex md:space-x-10 list-none">
                    <li>
                        <a href="#" class="text-base font-normal text-gray-500 list-none hover:text-gray-900"
                            target="">Inicio</a>
                    </li>
                    <li>
                        <a href="#" class="text-base font-normal text-gray-500 list-none hover:text-gray-900"
                            target="">Peliculas
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-base font-normal text-gray-500 list-none hover:text-gray-900"
                            target="_blank">Ranking
                        </a>
                    </li>
                </div>
                <div class="hidden md:absolute md:flex md:items-center md:justify-end md:inset-y-0 md:right-0">
                    <a href="https://www.instagram.com/" class="text-base font-normal text-gray-500 list-none hover:text-gray-900"
                            target="https://www.instagram.com/">
                            <img src="https://i.pinimg.com/564x/ed/ad/28/edad28ba52688b598d6a0543349fc9d0.jpg" class="h-8" alt="Ig" />
                    </a>
                    <a href="https://es-la.facebook.com/" class="text-base font-normal text-gray-500 list-none hover:text-gray-900"
                            target="https://es-la.facebook.com/">
                            <img src="https://i.pinimg.com/564x/5f/80/e6/5f80e6a4ab5fe78165738d5d01b8cac9.jpg" class="h-8" alt="Ig" />
                    </a>
                    <a href="https://www.instagram.com/" class="text-base font-normal text-gray-500 list-none hover:text-gray-900"
                            target="https://www.instagram.com/">
                            <img src="https://i.pinimg.com/564x/22/90/79/229079c8f5240851cece598cf8eee770.jpg" class="h-8" alt="Ig" />
                    </a>
                    
                </div>
                
            </nav>
        </div>  
    </div>
        
  </header>

  
  