<main class=" flex flex-col gap-4 justify-around text-gray-600 body-font overflow-hidden">
  <section class="flex flex-col md:flex-row w-[80%] mx-auto justify-center items-center">
    <img alt="ecommerce" class="lg:w-1/4 w-1/2 lg:h-auto h-auto object-cover object-center rounded" [src]="pelicula.poster_url">
    <div class=" flex flex-col w-[80%] md:w-full p-4">
      <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{ pelicula.titulo }}</h1>
      <p class="leading-relaxed">{{ pelicula.descripcion }}</p>
      <div class="flex mt-2 gap-1">
        <span class="title-font font-medium text-base text-gray-900">Director: </span>
        <p class="title-font text-base text-gray-600"> {{ pelicula.director }}</p>
      </div>
      <div class="flex gap-1">
        <span class="title-font font-medium text-base text-gray-900">Duración: </span>
        <p class="title-font text-base text-gray-600"> {{ pelicula.duracion }} minutos</p>
      </div>
    </div>
  </section>
  
  <section class="flex flex-col md:flex-row w-[80%] mx-auto justify-center items-center">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="flex justify-center"> Ver trailer </mat-panel-title>
        </mat-expansion-panel-header>
        <iframe width="550" height="315" src="https://www.youtube.com/embed/CzpD1Qb8vMY?si=jCllYC0uWhWgD3Q2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </mat-expansion-panel>
    </mat-accordion>
  </section>

  <section class="lg:w-4/5 mx-auto flex flex-wrap justify-center items-center flex-col p-4">
    <h1 class="text-gray-900 text-3xl title-font font-medium my-10">Próximas Funciones</h1>
    @for (funcion of funciones; track $index) {
    <p class="title-font font-medium text-xl text-gray-900 my-3">{{ funcion.fecha}}</p>
    <div class="flex gap-2">
      @for (funcionDiaria of funcion.funciones; track $index){
      <a class ="bg-white hover:bg-gray-100 text-gray-700 font-semibold py-1 px-4 border border-gray-400 rounded-full" [routerLink]="['/peliculas', pelicula.id, 'funciones', funcionDiaria.id]">{{ funcionDiaria.horario }}</a>
       }
    </div>
    } @empty {
    <li>No hay funciones disponibles.</li>
    }
  </section>
</main>
