<footer class="bg-white rounded-lg shadow dark:bg-gray-900 m-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="https://i.pinimg.com/736x/ec/67/b2/ec67b2c81305b6a794ca57e9b282a008.jpg" class="h-8" alt="CinemaLogo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"></span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">CINEMA UNSA</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">unsa.edu.pe</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">054-774471</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://fips.unsa.edu.pe/ingenieriadesistemas/" class="hover:underline">  Universidad Nacional de San Agustin</a>. All Rights Reserved.</span>
    </div>
  </footer>